@font-face {
	font-family: 'VisbyCF DemiBold';
	src: url('VisbyCF-DemiBold.eot');
	src: url('VisbyCF-DemiBold.eot?#iefix') format('embedded-opentype'),
		url('VisbyCF-DemiBold.woff') format('woff');
}