@charset "UTF-8";
@import url("VisbyCF_Regular/stylesheet.css");
@import url("VisbyCF_DemiBold/stylesheet.css");
@import url("VisbyCF_Bold/stylesheet.css");

html {
  margin: 0;
  touch-action: none;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  user-select: none;
  cursor: none;
  position: relative;
}

#maintenanceHeader {
  display: inline-block;
  font-family: "VisbyCF Bold";
  font-style: normal;
  font-weight: 400;
  text-align: center;
  font-size: 50px;
  width: 100%;
  height: auto;
  margin: auto;
}

#additive1Icon {
  content: url("Icons/Additive-Icons/water-drop-mini.png");
  opacity: 1;
  height: auto;
  width: 50%;
  webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
#additive2Icon {
  content: url("Icons/Additive-Icons/water-drop-mini.png");
  opacity: 1;
  height: auto;
  width: 50%;
  webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
#additive3Icon {
  content: url("Icons/Additive-Icons/water-drop-mini.png");
  opacity: 1;
  height: auto;
  width: 50%;
  webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
#additive4Icon {
  content: url("Icons/Additive-Icons/water-drop-mini.png");
  opacity: 1;
  height: auto;
  width: 50%;
  webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
#additive5Icon {
  content: url("Icons/Additive-Icons/water-drop-mini.png");
  opacity: 1;
  height: auto;
  width: 50%;
  webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
#additive6Icon {
  content: url("Icons/Additive-Icons/water-drop-mini.png");
  opacity: 1;
  height: auto;
  width: 50%;
  webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.disableSelect {
  user-select: none; /*Used to stop properties from showing on long hold*/
}

.additiveAmount {
  width: 70%;
  margin: auto;
  text-align: center;
  font-size: 20px;
  /* onfocus: blur; */
  /* pointer-events: none; */
}

.bottleInput,
.priceInput {
  width: 30%;
  margin: auto;
  text-align: center;
  font-size: 20px;
}

.additiveTableCell {
  text-align: center;
  width: 15%;
  height: auto;
  margin: auto;
  display: table-cell;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url("Icons/drop-mini-white-circle.png");
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

.kioskControlSelect,
.activeTowerSelect {
  text-align: center;
  display: table-cell;
  width: 60%;
  height: auto;
  margin: auto;
  font-size: 18px;
  font-family: "VisbyCF Bold";
}

.additiveSelect {
  text-align: center;
  display: table-cell;
  width: 85%;
  height: auto;
  margin: auto;
  font-size: 14px;
  font-family: "VisbyCF Bold";
}

.activeTowerSelect {
  width: 100%;
}

.roundButton {
  align-self: center;
  height: 150px;
  width: 150px;
  display: block;
  margin: auto;
  padding-top: 10px;
  font-size: 20px;
  font-family: "VisbyCF Bold";
  font-style: normal;
  font-weight: 400;
  border-radius: 50%;
  webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

div {
  text-align: center;
}
#priceTable,
#kioskControlTbl,
#additiveTable,
#bottleCountTable {
  width: 85%;
  margin: auto;
  display: inline-table;
  background-color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 20px;
  padding-right: 10px;
}

#priceTable .tblHeader1,
#kioskControlTbl .tblHeader1,
#additiveTable .tblHeader1,
#bottleCountTable .tblHeader1 {
  font-size: 35px;
  font-family: "VisbyCF Bold";
  /* text-decoration: underline; */
}

#priceTable .tblHeader2,
#kioskControlTbl .tblHeader2,
#additiveTable .tblHeader2,
#bottleCountTable .tblHeader2 {
  font-size: 20px;
  font-family: "VisbyCF Bold";
  /* text-decoration: underline; */
}


#bottleCountTable {
	text-align: center;
	display: inline-table;
}


#priceTable td {
	font-size: 18px;
	font-family: "VisbyCF Bold";
}


/* .bottleInputI {
  position: absolute;
	width: 1px;
	height: 80%;
	background-color: gray;
	left: 5px;
	top: 10%;
	animation-name: blink;
	animation-duration: 800ms;
	animation-iteration-count: infinite;
	opacity: 1;
}

@keyframes blink {
	from { opacity: 1; }
	to { opacity: 0; }
} */
