.modal {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}

/* Set a style for all buttons */
.cancelBtn, .loginBtn {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.cancelBtn:hover, .loginBtn:hover {
  opacity: 1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn,
.loginBtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelBtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.loginBtn {
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
.maintenanceModalContainer {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.maintenanceModalClose {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.maintenanceModalClose:hover,
.maintenanceModalClose:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.maintenanceModalClearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelBtn,
  .loginBtn {
    width: 100%;
  }
}
